div.title {
    font-family: monospace;
    font-size: 24px;
    text-align: center;
}

div.intro {
    font-family: monospace;
    font-size: 20px;  
    text-align: center;
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

#population_table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
td.healthy {
    background-color: green;
    height: 50px;
    width: 50px;
}

td.vaccinated {
    background-color: skyblue;
    height: 50px;
    width: 50px;
}

td.infected {
    background-color: orangered;
    height: 50px;
    width: 50px;   
}