div.title {
    font-family: monospace;
    font-size: 24px;
    text-align: center;
}

div.intro {
    font-family: monospace;
    font-size: 20px;  
    text-align: center;
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

div.random_vacc {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%); /* use self width which can be unknown */
    -ms-transform: translateX(-50%); /* For IE9 */
}

input {
    width: 20px;
    text-align: center;
    margin-bottom: 5px;
}

#population_table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    table-layout:fixed;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
}

td.healthy {
    background-color: green;
    height: 25px;
    width: 75px;
}

td.vaccinated {
    background-color: skyblue !important;
    height: 25px;
    width: 75px;
}

td.infected {
    background-color: orangered;
    height: 25px;
    width: 75px;   
}

td.dead {
    background-color: black;
    height: 25px;
    width: 75px;
}

td.update {
    background-color: white;
    height: 25px;
    width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;

}